@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
}

.container{
  margin: 0 auto;
  width: 80%;
}

.topo {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.topo h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.topo p {
  font-size: .9rem;
}

.avaliacoes {
  margin-top: 18px;
}

.avaliacao__cliente {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f2f8;
  padding: .7rem 1.5rem;
  margin-bottom: .8rem;
  font-size: .7rem;
  align-items: center;
  border-radius: 10px;
}

.avaliacao__img {
  margin-right: 1rem;
}

.avaliacao__2 {
  margin-left: 1rem;
}

.avaliacao__3 {
  margin-left: 2rem;
}

.fundo {
  margin-top: 50px;
}

.cartao__avaliacao {
  display: flex;
  /* justify-content: center; */
}

.cartao {
  width: 300px;
  height: 150px;
  background-color: #511f50;
  margin-right: 1rem;
  padding: 20px 15px;
  border-radius: 8px;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil img {
  width: 50px;
  height: auto;
  border-radius: 100%;
  margin-right: 1rem;
}

.perfil h3 {
  font-size: .9rem;
  color: #f7f2f8;
  margin-bottom: 5px;
}

.perfil h5 {
  font-size: .5rem;
  color: hsl(303, 10%, 53%);
}

.depoimento p {
  font-size: .8rem;
  color: #f7f2f8;
  margin-top: 10px;
  line-height: 1.1rem;
}

.cartao__avaliacao-2 {
  margin-top: 1rem;
}

.cartao__avaliacao-3 {
  margin-top: 2rem;
}



