@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  --Very_Dark_Magenta: hsl(300, 43%, 22%);
  --Soft_Pink: hsl(333, 80%, 67%);
  --Dark_Grayish_Magenta: hsl(303, 10%, 53%);
  --Light_Grayish_Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;

  background-color: var(--White);
  background-image: url('../images/bg-pattern-top-desktop.svg'),
    url('../images/bg-pattern-bottom-desktop.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

.container {
  max-width: 400px;
  padding: 2em 1em;
}

.texto__principal {
  text-align: center;
}

.texto__principal p {
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  color: var(--Very_Dark_Magenta);
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 0.3em;
}

h2 {
  color: var(--Very_Dark_Magenta);
  font-size: 15px;
  text-align: center;
}

.avaliacoes {
  background-color: var(--Light_Grayish_Magenta);
  width: inherit;
  border-radius: 8px;
  padding: 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
}

.avaliacoes span {
  display: inline-block;
  height: 21px;
  align-self: center;
}

.secao__fundo {
  margin-top: 3em;
}

.cartao__avaliacao {
  width: inherit;
  padding: 2.5em 2em;
  border-radius: 8px;

  background-color: var(--Very_Dark_Magenta);
  color: var(--White);
  margin-top: 1em;
}

.cartao__avaliacao img {
  width: 50px;
  float: left;
  border-radius: 50%;
}

.cartao__avaliacao p {
  clear: right;
  margin: 0;
  margin-left: 3.8em;
}

.nome__cliente {
  font-weight: 500;

}

.tipo__cliente {
  color: var(--Soft_Pink);
}

.cartao__avaliacao blockquote {
  clear: both;
  margin: 0;
  margin-top: 1.5em;
  line-height: 1.5em;
  font-style: normal;
}

@media screen and (min-width: 376px) {
  body {
    min-height: 100vh;
    min-width: fit-content;
    display: flex;
    place-content: center;
  }

  .container {
    max-width: 1080px;
    margin: auto;
  }

  .secao__topo, 
  .secao__fundo {
    display: flex;
  }

  .secao__topo > :first-child {
    width: 540px;
    text-align: left;
  }

  .secao__topo > :last-child {
    width: 540px;
  }

  .texto__principal h1 {
    padding-right: 3em;
  }

  .texto__principal p {
    padding-right: 10em;
  }

  .avaliacoes {
    height: 3em;
    width: 29.5em;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .avaliacoes span {
    margin-left: 1em;
  }

  h2 {
    width: fit-content;
    margin-left: 2em;
  }

  .caixa-1 {
    margin-right: auto;
  }

  .caixa-2 {
    margin: 1em auto;
  }

  .caixa-3 {
    margin-left: auto;
  }

  .secao__fundo {
    justify-content: space-between;
  }

  .cartao__avaliacao {
    width: 280px;
    margin: 0;
  }

  .secao__fundo .cartao2 {
    transform: translateY(1rem);
  }

  .secao__fundo .cartao3 {
    transform: translateY(2rem);
  }





}